# Workflow to publish packages to NPM

name: Publish to NPM

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    concurrency: ${{ github.ref }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          # We need the full history for version calculation
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Cache turborepo output
        uses: actions/cache@v4
        with:
          path: |
            node_modules/.cache/turbo
            packages/*/.turbo
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Publish packages
        if: github.repository == 'alwaysmeticulous/meticulous-sdk'
        run: pnpm exec lerna publish from-package --yes --no-verify-access --loglevel verbose
        env:
          NPM_CONFIG_PROVENANCE: true
